{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="/static/blog_app/css/home.css" />
<body>
    {% if user.is_authenticated %}
        <h1 class="rounded">Welcome {{ user.username }}!</h1>
    {% else %}
        <h1 class="rounded">Welcome!</h1>
        <h4 class="intro rounded">
            Welcome to J's Blog. Below are the most recent entries. Feel free to scroll down and see what people are writing about. Or if you have a topic in mind click the categories tab in the nav bar to read up on a particular topic
        <br>
            If you want to contribute to the blog, click on register and set up your own profile!
            
        </h4>
    {% endif %}
    <h3 class="rounded">Recent Posts</h3>

{% for post in object_list %}
    <div class="row h-200 rounded">
        <div class="col">
            <h5><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> -{{ post.title_tag }}</h5> 
            - <a href="{% url 'category' post.category|slugify  %}">{{ post.category }}</a> 
            - {{ post.author.first_name }} {{ post.author.last_name }} 
            - {{ post.post_date }} 
            <small>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        - <a href="{% url 'update_post' post.pk %}">Edit</a>
                    
                        - <a href="{% url 'delete_post' post.pk %}">Delete</a>
                    {% endif %}
                {% endif %}
            </small>
                <br/>
        <p>{{ post.preview  }}</p>
        </div>
        {% if post.header_image %}
        <div class="col-3 align-self-center">
            <img src="{{ post.header_image.url }}" class="float-right mx-auto">
        </div>
        {% endif %}
    </div>
    <br/>
{% endfor %}
</body>

{% endblock %}